@using ShindaPratice.Models.Shinda;
@model ShindaPratice.Models.Shinda.Sign;

<div class="row">
    <div class="col-6 m-2" style="font-size:20px">新達報名</div>
    <div class="col-6"></div>
</div>

<div class="row">
    <div class="col-6 border-right border-dark" style="height:500px">
        <form action="Shinda/Index" method="post" id="test">
            <div class="m-2">手機</div>
            <div class="m-2">
                <input type="text" name="phone" />
                <br />
            </div>
            <div class="m-2">姓名</div>
            <div class="m-2">
                <input type="text" name="name" />
                <br />
            </div>
            <div class="m-2">Email</div>
            <div class="m-2">
                <input type="text" name="email" />
                <br />
            </div>

            <div class="m-2">活動項目</div>
            @foreach (var item in @ViewBag.list)
            {
                <div class="m-2">
                    <input type="checkbox" value="@item.CItemId" />
                    @item.CItemName @item.CActiveDt
                </div>
            }
            <br />
            <button type="submit">表單發送</button>
            <button id="x1" style="display:inline-block">測試</button>
        </form>
    </div>
    <div class="col-6" style="height:500px">
        <div class="row mb-4">
            <div class="col-4">
                <input type="text" class="form-control" placeholder="手機" />
            </div>
            <div class="col-4">
                <input type="text" class="form-control" placeholder="姓名" />
            </div>
            <div class="col-4">
                <select class="form-control">
                </select>
            </div>
        </div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>手機</th>
                        <th>姓名</th>
                        <th>信箱</th>
                        <th>活動項目</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{


<script>
    document.getElementById('x1').addEventListener('click',function(){

        var Sign = {
            phone:'',
            name:'',
            email:'',
            items:''
        };

        Sign.phone = document.getElementsByName('phone')[0].value;
        Sign.name = document.getElementsByName('name')[0].value;
        Sign.email = document.getElementsByName('email')[0].value;

        var checklist = document.querySelectorAll('input[type=checkbox]');
        //var checklist = $(':checkbox');

        var i = 0;

        var arr = [];

        for(i = 0; i < x.length; i++ ){
            arr.push(x[i].value);
        }

        Sign.items = arr.join(',');


        var data = JSON.stringify(Sign);

        var req = new XMLHttpRequest();
        req.open('POST','https://localhost:44319/Shinda/Index',true);
        req.setRequestHeader("Content-type", "application/json");
        req.send(data);

        req.onload(function(){
            alert('報名已送出');
        })
    })
</script>
} 